aiofiles
aiohttp
dnspython
ffmpeg
git+https://github.com/HellBoy-OP/yt-dp-fork
git+https://github.com/HellBoy-OP/yt-fork
gitpython
html-telegraph-poster
motor
pillow
psutil
pyrogram
pytgcalls==3.0.0.dev19
python-arq
python-dotenv
requests
search_engine_parser
TgCrypto
wget
youtube-search
youtube-search-python
