aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
pillow
psutil
py-tgcalls==0.8.6
pykeyboard
pyrogram==1.4.16
python-dotenv
pytube
pyyaml==5.3.1
requests
spotipy
tgcrypto

git+https://github.com/HellBoy-OP/yt-dp-fork
git+https://github.com/HellBoy-OP/yt-search-python
