aiofiles
aiohttp
dnspython
ffmpeg
git+https://github.com/HellBoy-OP/yt-dlp-fork
git+https://github.com/HellBoy-OP/yt-fork
gitpython
heroku3
motor
psutil
pyrogram
pytgcalls
python-dotenv
requests
search_engine_parser
TgCrypto
wget
youtube-search
youtube-search-python